@layout-column-main__sidebar-offset: 2vw;
@layout-column__additional-sidebar-offset: @layout-column-main__sidebar-offset;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .columns {
        display: grid;
        grid-template-areas: 'main' 'sidebar' 'sidebar-additional';
        gap: @layout-column-main__sidebar-offset;

        .column.main {
            grid-area: main;
            box-sizing: border-box;
        }

        .sidebar {
            grid-area: sidebar;
            box-sizing: border-box;
        }

        .sidebar-additional {
            grid-area: sidebar-additional;
            box-sizing: border-box;
        }

        .sidebar:empty {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-main,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .page-main {
        .account &,
        .cms-privacy-policy & {
            padding-top: 41px;
            position: relative;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: auto;
    }

    .page-main {
        width: 100%;
    }

    .columns {
        .page-layout-2columns-left & {
            grid-template-areas: 'sidebar main main' 'sidebar-additional main main';
        }

        .page-layout-2columns-right & {
            grid-template-areas: 'main main sidebar' 'main main sidebar-additional';
        }

        .page-layout-3columns & {
            grid-template-areas: 'sidebar main main sidebar-additional';
        }
    }

    .column.main {
        min-height: 30rem;
    }

    .panel.header {
        padding: 10px 20px;
    }
}
