//
//  Next theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//  Form field note icon
@form-field-note-icon-font__content: false;

//
//  Actions-toolbar
//  ---------------------------------------------

@actions-toolbar-gap: @indent__s;
@actions-toolbar-actions-gap: @indent__s;

@actions-toolbar-actions-primary__margin: false;
@actions-toolbar-actions-links-secondary__margin-top: false;

//
//  Product Listings
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

// Grid
@product-item__max-width: 23.7rem;
